.home_content {
  position: relative;
  left: 18%;
  top: 100px;
  height: 100%;
  font-family: "Helvetica Neue Thin";
}

.home_masthead {
  font-size: 82px;
  font-weight: 300;
  letter-spacing: 2px;
  width: 500px;
}

.home_subhead {
  width: 420px;
  font-size: 22px;
  color: rgb(100, 111, 121);
  letter-spacing: 1.3px;
  font-weight: 300;
}

.home_content #email {
  font-size: 16px;
  padding-left: 16px;
  margin: 2px;
  width: 250px;
  height: 44px;
  border-radius: 3px;
  border: 2px solid rgb(224, 230, 232);
}

.home_content #email::placeholder {
  color: #B9C1C8;
  letter-spacing: 1px;
  font-family: "Helvetica Neue Thin";
}

.home_content #email:focus {
  outline: none;
  border-color: #ABA5FC;
}

.home_form_group {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home_get_started {
  background-color: #796eff;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 125px;
  letter-spacing: 1.3px;
  font-family: "Proxima Nova";
  text-align: center;
  height: 50px;
  width: 140px;
  line-height: 50px;
}

.home_get_started:hover {
  background-color: #5953C4;
}

/* Animation by Ted McDonald @ https://codepen.io/tedmcdo/pen/PqxKXg */
body {
  // background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean {
  z-index: -1;
  width: 100%;
  position:absolute;
  bottom: -30px;
  left: 0;
  background: #015871;
}

.wave {
  background: url(asset-path('wave.svg')) repeat-x;
  position: absolute;
  // top: -198px;
  top: 0px;
  width: 6400px;
  height: 198px;
  animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  // top: -175px;
  top: 23px;
  animation: wave 50s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
