.dash {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.logo_dark {
  position: relative;
  top: 9px;
  left: 10px;
  background: url(asset-path('nirvana_logo_transparent_blue.png')) no-repeat ;
  background-size: contain;
  height: 0;
  padding-top: 23.69%; /* https://stackoverflow.com/a/22211990 */
  width: 120px;
}

.dash-tasks {
  background-color: #F4F7F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dash-nav__settings-dropdown {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.dash-nav__avatar {
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.dash-sidebar h3 {
  color: #FFF;
}
