.dash-sidebar {
  width: 244px;
  background-color: #232C37;
  color: #FFF;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.dash-sidebar__member-avatars {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 8px;
}

.dash-sidebar__member-avatars .profile__avatar {
  margin-left: 7px;
  width: 30px;
  height: 30px;
}
