.task-detail {
  background-color: white;
  border-radius: 3px 3px 0 0;
  margin-left: 15px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);

  flex: 1;
  // width: 1000px;
  width: 495px;
  display: flex;
  flex-direction: column;
}

.task-detail__header {
  display: flex;
  justify-content: space-between;

  display: flex;
  align-items: center;

  padding-left: 23px;
  // padding-right: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  box-sizing: border-box;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.task-detail__header-date {
  color: #69737C;
  width: 114px;
  height: 35px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  overflow: hidden;
  border: 1px solid transparent;
}

.task-detail__header-date:hover {
  color: #000;
  border-radius: 20px;
  border: 1px solid #646F78;
  background-color: #F6F8F9;
}

.task-detail__header-assignee {
  color: #69737C;
  width: 138px;
  height: 35px;
  line-height: 35px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  border: 1px solid transparent;
}

.task-detail__header-assignee:hover {
  color: #000;
  border-radius: 20px;
  border: 1px solid #646F78;
  background-color: #F6F8F9;
}

.task-detail__list {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-detail__list-item {
  padding: 10px;
  font-family: "Segoe UI";
}

.task-detail__list-project-name {
  background-color: #E0E6E8;
  color: #848F98;
  text-align: center;
  width: fit-content;
  border-radius: 20px;
}

.task-detail__list-task-name {
  font-size: 24px;
  font-weight: 700;
}

.task-detail__list-task-description {
  font-size: 13px;
}
