.task-index {
  background-color: white;
  border-radius: 3px 3px 0 0;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  overflow-y: hidden;
  font-family: "Segoe UI";
}

.task-index:hover {
  overflow-y: auto;
}

.task-index__add-task-btn {
  color: white;
  background-color: #14AAF5;
  padding: 0 9px;
  font-size: 13px;
  font-family: "Segoe UI";
  height: 30px;
  min-width: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 30px;
}

.task-index__header {
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  box-sizing: border-box;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.task-index__item {
  font-size: 13px;
  height: 35px;
  box-sizing: border-box;
  line-height: 35px;
  vertical-align: center;
  display: flex;
  justify-content: space-around;
}

.task-index__item:not(:last-child) {
  border-bottom: 1px solid #E0E6E8;
}

.task-index__task-name {
  margin-right: auto;
}

.task-index__task-due-date {
  // past due color red
}
