.task-index {
  background-color: white;
  margin: 15px 20px 0 20px;
  border-radius: 3px 3px 0 0;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.task-index__header {
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  box-sizing: border-box;
}

.task-index__add-task-btn {
  color: white;
  background-color: #14AAF5;
  padding: 0 9px;
  font-size: 13px;
  font-family: "Segoe UI";
  height: 30px;
  min-width: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 30px;
}
