.task-index {
  background-color: white;
  border-radius: 3px 3px 0 0;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  overflow-y: hidden;
  font-family: "Segoe UI";
}

.task-index:hover {
  overflow-y: auto;
}

.task-index__add-task-btn {
  color: white;
  background-color: #14AAF5;
  padding: 0 9px;
  font-size: 13px;
  font-family: "Segoe UI";
  height: 30px;
  min-width: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 30px;
}

.task-index__header {
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  box-sizing: border-box;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.task-index__item {
  font-size: 13px;
  height: 35px;
  line-height: 33px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
}

.task-index__item {
  border-bottom: 1px solid #E0E6E8;
}

.task-index__item:hover {
  background-color: #F6F8F9;
}

.task-index__item:focus-within {
  outline: none;
  border-top: 1px solid #26ABF2;
  border-bottom: 1px solid #26ABF2;
}

.task-index__task-name {
  margin-right: auto;
}

.task-index-input {
  border: none;
  background: transparent;
  width: 400px;
}

.task-index-input:focus {
  outline: none;
}

.past-due {
  color: #EB495B;
}
