.dash {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.dash-sidebar {
  width: 19.0625%;
  height: 100%;
  background-color: #232C37;
  color: #FFF;
}

.logo_dark {
  position: relative;
  top: 9px;
  left: 10px;
  background: url(asset-path('nirvana_logo_transparent_blue.png')) no-repeat ;
  background-size: contain;
  height: 100%;
  width: 120px;
}

.dash-tasks {
  width: 80.9375%;
  height: 100%;
  background-color: #F4F7F8;
}

.dash-nav {
  display: flex;
  align-items: center;
  text-align: center;

  height: 40px;
  margin: 0;
  padding-left: 12px;

  list-style: none;
  color: rgb(132, 143, 152);
  background-color: #FFF;

  font-size: 13px;
  font-family: "Segoe UI", Roboto;
  border-bottom: 1px solid #E0E6E8;
}

.dash-nav__item {
  margin: 0 15px;
}

.dash-nav--left {
  margin-right: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.dash-nav--center {
  margin-left: auto;
  margin-right: auto
}

.dash-nav__item--selected {
  color: #151B26;
}

.dash-nav__item:hover {
  color: #55CAFC;
  cursor: pointer;
}

.dash-search {
  border: 1px solid rgb(213, 220, 224);
  border-radius: 15px;

  width: 200px;
  height: 25px;
  line-height: 30px; // match nav height to center placeholder text
  padding-left: 33px;
  padding-right: 15px;

  background: url(asset-path('search.svg')) no-repeat 10px center;
  background-size: 15px;
  color: rgb(132, 143, 152);

  outline-style:none;
  box-shadow:none;
}

.dash-search:focus {
  color: #000;
}

.dash-sub-nav {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  height: 65px;
  background-color: #FFF;
  border-bottom: 1px solid #E0E6E8;
  /* https://stackoverflow.com/a/6245879 */
  box-shadow: 0 3px 2px -2px #E0E6E8;
}

.dash-sub-nav__header {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 41px;
  height: 41px;

  margin: auto;
}

.dash-sub-nav__header-team {
  font-size: 24px;
  font-family: "Segoe UI", Roboto;
  margin-left: 5px;
}

.dash-sub-nav__header-avatar {
  width: 24px;
  height: auto;
  border-radius: 50%;
}

.dash-sub-nav__navbar {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 34px;
  margin: auto;
}

.dash-sub-nav__navbar-item {
  margin: 0 15px;
  font-size: 13px;
  color: rgb(132, 143, 152);
  cursor: pointer;
  border-bottom: 3px solid transparent;
  height: 27px;
}

.dash-sub-nav__navbar-item--selected {
  color: #151B26;
  border-color: #26ABF2;
}
