@font-face {
  font-family: 'Proxima Nova';
  src:font-url('Proxima_Nova_Alt_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:font-url('Helvetica_Neue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Thin';
  src:font-url('Helvetica_Neue_Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src:font-url('Segoe_UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
}
