@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Alt Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('Helvetica Neue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url('Helvetica Neue Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('Segoe UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
}
