.home_content {
  position: relative;
  left: 18%;
  top: 100px;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue";
}

.home_masthead {
  font-size: 82px;
  font-weight: 300;
  letter-spacing: 2px;
  width: 500px;
}

.home_subhead {
  width: 420px;
  font-size: 22px;
  color: rgb(100, 111, 121);
  letter-spacing: 1.3px;
  font-weight: 300;
}

.home_content #email {
  font-size: 16px;
  padding-left: 16px;
  margin: 2px;
  width: 250px;
  height: 44px;
  border-radius: 3px;
  border: 2px solid rgb(224, 230, 232);
}

.home_content #email::placeholder {
  color: #B9C1C8;
  letter-spacing: 1px;
  font-family: "Helvetica Neue Thin";
}

.home_content #email:focus {
  outline: none;
  border-color: #ABA5FC;
}

.home_form_group {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home_get_started {
  background-color: #796eff;
  color: #fff;
  border-radius: 3px;
  width: 125px;
  letter-spacing: 1.3px;
  font-family: "Proxima Nova";
  text-align: center;
  height: 50px;
  width: 140px;
  line-height: 50px;
}

.home_get_started:hover {
  background-color: #5953C4;
}
